body {
  background: #fff;
  color: #333;
  font-family: monospace;
  font-size: 18px;
  margin: 0;

}

#scene {
  margin: 100px auto;
  width: 300px;
  height: 300px;
 clip-path: circle(150px at center);
}

.sunWrap {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 20%;
}

.cloudWrap {
  position: absolute;
  right: 40px;
  top: 50px;
  width: 20%; 
}

.house {
  width: 100%;
}
